html{
  scroll-behavior: smooth;
}

body{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background-color: #1F1B24;
    color: #fff;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.france{ 
  height: 10px;
  width: 20px;
  background:linear-gradient(to right, #002495 0, #002495 33%, #FFF 33%, #FFF 66%, #ed2939 66%, #ed2939 100%); 
} 
/*===================================*/
/* Style the header */
.header {
  width: 100%;
  margin: -10px;
  background-color: inherit;
  color: #f1f1f1;
  backdrop-filter: blur(90px);
  border-bottom: 2px solid #6000a1;
  box-shadow: rgba(0,0,0,0.12);
}

.header button{
  color: #fff;
  width: 90px;
  height: 50px;
  border-radius: 0px;
  margin: 5px;
}

/* Page content */
.content {
  padding: 5px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 5px;
}
/*================================*/






.myCard{
    padding: 10px;
    background-color: #332940;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.myCard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.div_Goodies_List{
    width: 420px;
    height: 400px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card_Goodies{
    width: 400px;
    height: 70px;
    margin: auto;
}
textarea{
    height: 200px;
    width: 500px;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: auto;
}
textarea:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button{
    width: 100px;
    height: 40px;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #943BD3;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
button:hover{
    color: #fff;
    background-color: #943BD3;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.container{
  width: 700px;
  margin: auto;
}


.section1 {
  height: 100vh;
}

.section2 {
  height: auto+50vh;
}
.section3 {
  height: auto+50vh;
}

.nextSection{
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.nextSection:hover{
  transform: scale(1.1);
}





/*======================================================================================*/
/*=================================== Main Intro Section ===============================*/
/*======================================================================================*/
.section1{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  min-width: 300px;
  max-width: 1920px;
  width: 100%;
  height: auto;
  display:grid;
  background-color: #332940;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-areas: "block0"
    "block1"
    "block2"
    "block3"
    "social_block0"
    "social_block1"
    "social_block6";
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: auto;
}
.section1:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.block0{
  grid-area: block0;
  text-align: center;
}

.block1{
    grid-area: block1;
    text-align: center;
}
.block1 img{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 7px;
}
.block2{
    grid-area: block2;
    text-align: center;
}
.block3{
    grid-area: block3;
    text-align: center;
}
.socialMedia:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.social_block0{
  grid-area: social_block0;
  cursor: pointer;
  text-align: center;
}

.social_block1{
  grid-area: social_block1;
  cursor: pointer;
  text-align: center;
}
.social_block6{
  grid-area: social_block6;
  cursor: pointer;
  text-align: center;
}
.social_image{
  width: 30px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.social_image:hover{
  width: 32px;
}

.social_block0:hover{
  color: #943BD3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.social_block1:hover{
  color: #943BD3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.social_block6:hover{
  color: #943BD3;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/*======================================================================================*/
/*=================================== Skill Section ====================================*/
/*======================================================================================*/
.skillsBox{
  width: 300px;
  border: 2px solid #6000a1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: box-shadow 0.3s;
  margin: auto;
}
.skillsBox:hover{
  -webkit-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
-moz-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
}


.section2{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "skillBlock-0"
  "skillBlock-1"
  "skillBlock-2"
  "skillBlock-3";
  margin: auto;
}
.skillBlock-1{
  grid-area: skillBlock-1;
  margin: 50px;
}
.skillBlock-2{
  grid-area: skillBlock-2;
  margin: 50px;
}
.skillBlock-3{
  grid-area: skillBlock-3;
  margin: 50px;
}
.skillBlock-0{
  grid-area: skillBlock-0;
  margin: 50px;
}
.skillBlock-1 .skillsBox{
  height: auto;
}
.skillBlock-2 .skillsBox{
  height: auto;
}
.skillBlock-3 .skillsBox{
  height: auto;
}
/*=========================== Education Box =======================*/
/*=========================== Education Box =======================*/
/*=========================== Education Box =======================*/
.section3{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "educationBlock-0"
  "educationBlock-1"
  "educationBlock-2"
  "educationBlock-3";
  margin: auto;
}
.educationBlock-1{
  grid-area: educationBlock-1;
  margin: 50px;
}
.educationBlock-2{
  grid-area: educationBlock-2;
  margin: 50px;
}
.educationBlock-3{
  grid-area: educationBlock-3;
  margin: 50px;
}
.educationBlock-0{
  grid-area: educationBlock-0;
  margin: 50px;
}
.educationBlock-1 .skillsBox{
  height: auto;
  transition: box-shadow 0.3s;
}
.educationBlock-2 .skillsBox{
  height: auto;
}
.educationBlock-3 .skillsBox{
  height: auto;

}
.educationul {
  list-style: none;
  padding: 0;
}
.educationul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
.educationul .inner.show {
  /*display: block;*/
}
.educationul li {
  margin: 0.5em 0;
}
.toggle{
  color: #fff;
  width: 300px;
  height: 50px;
  border-radius: 0px;
  margin: 5px;
}
/*==============================================================*/
.educationul img{
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
  -moz-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
  box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
}
/*==============================================================*/

.projectBlock{
  margin: auto;
  text-align: center;
  width: 300px;
  border: 2px solid rgba(148,59,211,1);
  transition: box-shadow 0.3s;
}
.projectBlock:hover{
  -webkit-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
-moz-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
}


.projectBlock button{
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid rgba(148,59,211,1);
  border-radius: 0px;
  color: #fff;
}

.projectBlock img{
  margin: 25px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
  -moz-box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
  box-shadow: 0px 0px 26px 1px rgba(148,59,211,1);
}

/*============== Project Block ================*/
/*============== Project Block ================*/
/*============== Project Block ================*/

.section4{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "projectBlock-0"
  "projectBlock-1"
  "projectBlock-2"
  "projectBlock-3"
  "projectBlock-4";
  margin: auto;
}
#projectBlock-0{
  grid-area: projectBlock-0;
  margin: 50px;
}
#projectBlock-1{
  grid-area: projectBlock-1;
  margin: 50px;
}
#projectBlock-2{
  grid-area: projectBlock-2;
  margin: 50px;
}
#projectBlock-3{
  grid-area: projectBlock-3;
  margin: 50px;
}
#projectBlock-4{
  grid-area: projectBlock-4;
  margin: 50px;
}


/*===============Tablets==============*/
/*===============Tablets==============*/
/*===============Tablets==============*/
@media only screen and (min-width: 820px){
  /*========================================================================*/
  /*============================== Section 1 ===============================*/
  /*========================================================================*/
  .section1{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 820px;
    width: 70%;
    height: auto;
    display:grid;
    background-color: #332940;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "block0 block0 block0"
      "block1 block2 block2"
      "block1 block3 block3"
      "social_block0 social_block1 social_block6";
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: auto;
  }
  /*========================================================================*/
  /*============================== Section 2 ===============================*/
  /*========================================================================*/
  .section2{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 820px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "skillBlock-0 skillBlock-0"
    "skillBlock-1 skillBlock-2"
    "skillBlock-3 skillBlock-3";
    margin: auto;
  }
  /*========================================================================*/
  /*============================== Section 3 ===============================*/
  /*========================================================================*/
  .section3{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 820px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "educationBlock-0 educationBlock-0"
    "educationBlock-1 educationBlock-2"
    "educationBlock-3 educationBlock-3";
    margin: auto;
  }
  /*========================================================================*/
  /*============================== Section 4 ===============================*/
  /*========================================================================*/
  .section4{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 820px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "projectBlock-0 projectBlock-0"
    "projectBlock-1 projectBlock-2"
    "projectBlock-1 projectBlock-3"
    "projectBlock-1 projectBlock-4";
    margin: auto;
  }
  #projectBlock-1{
    width: 450px;
    height: auto;
  }
  #projectBlock-1 img{
    width: 150px;
  }



}


/*===============Dekstop OR Laptop==============*/
/*===============Dekstop OR Laptop==============*/
/*===============Dekstop OR Laptop==============*/
@media only screen and (min-width: 1200px){
  /*=======================================================================*/
  /*============================== Section 1 ===============================*/
  /*========================================================================*/

  /*========================================================================*/
  /*============================== Section 2 ===============================*/
  /*========================================================================*/
  .section2{
    min-width: 1200px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "skillBlock-0 skillBlock-0 skillBlock-0"
    "skillBlock-1 skillBlock-2 skillBlock-3";
    margin: auto;
  }
  /*========================================================================*/
  /*============================== Section 3 ===============================*/
  /*========================================================================*/
  .section3{
    min-width: 1200px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "educationBlock-0 educationBlock-0 educationBlock-0"
    "educationBlock-1 educationBlock-2 educationBlock-3";
    margin: auto;
  }
  /*========================================================================*/
  /*============================== Section 4 ===============================*/
  /*========================================================================*/
  .section4{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 1200px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "projectBlock-0 projectBlock-0"
    "projectBlock-1 projectBlock-2"
    "projectBlock-1 projectBlock-3"
    "projectBlock-1 projectBlock-4";
    margin: auto;
  }
  #projectBlock-1{
    width: 800px;
    height: auto;
  }
  #projectBlock-1 img{
    width: 300px;
    height: auto;
  }
}


























/*           Loding Icon                   */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }

  /* Animation */

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
























/*========================== Tooltip =================*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*===================================       Skills Bar =========================================*/


.progressred {
  background-color: #c0392b;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #27ae60;
}


  /*===============================  Headers ============================*/
  .sectionHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
  }







  /* -----------------------------------------------------
	CSS Progress Bars
-------------------------------------------------------- */
ul{
  list-style-type: none;
}


.cssProgress {
  width: 80%;
  margin-bottom: 10px;
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {

  overflow: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #3798d9;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7em;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.cssProgress .cssProgress-info {
  background-color: #9575cd !important;
}
.cssProgress .cssProgress-danger {
  background-color: #ef5350 !important;
}
.cssProgress .cssProgress-success {
  background-color: #66bb6a !important;
}
.cssProgress .cssProgress-warning {
  background-color: #ffb74d !important;
}
.cssProgress .cssProgress-right {
  float: right !important;
}
.cssProgress .cssProgress-label-left {
  margin-left: 10px;
  text-align: left !important;
}
.cssProgress .cssProgress-label-right {
  margin-right: 10px;
  text-align: right !important;
}
.cssProgress .cssProgress-label2 {
  display: block;
  margin: 2px 0;
  padding: 0 8px;
  font-size: 0.8em;
}
.cssProgress .cssProgress-label2.cssProgress-label2-right {
  text-align: right;
}
.cssProgress .cssProgress-label2.cssProgress-label2-center {
  text-align: center;
}
.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
}
.cssProgress .cssProgress-active {
  -webkit-animation: cssProgressActive 2s linear infinite;
  animation: cssProgressActive 2s linear infinite;
}
.cssProgress .cssProgress-active-right {
  -webkit-animation: cssProgressActiveRight 2s linear infinite;
  animation: cssProgressActiveRight 2s linear infinite;
}
@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes cssProgressActiveRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
/* -----------------------------------------------------
	Progress Bar 1
-------------------------------------------------------- */
.progress1 {
  background-color: #EEE;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress1 .cssProgress-bar {
  height: 5px;
}
.progress1 .cssProgress-label {
  line-height: 5px;
}

/* -----------------------------------------------------
	Progress Bar 2
-------------------------------------------------------- */
.progress2 {
  background-color: #EEE;
  border-radius: 9px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
  border-radius: 9px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}

/* -----------------------------------------------------
	Progress Bar 3
-------------------------------------------------------- */
.progress3 {
  width: auto !important;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.progress3 .cssProgress-bar {
  height: 16px;
  border-radius: 3px;
}
.progress3 .cssProgress-label {
  line-height: 16px;
}

/* -----------------------------------------------------
	Progress Bar 4
-------------------------------------------------------- */
.progress4 {
  position: relative;
  width: 100%;
  background-color: #EEE;
}
.progress4.cssProgress-bg {
  background-color: #bbdefb !important;
}
.progress4.cssProgress-bg-info {
  background-color: #d1c4e9 !important;
}
.progress4.cssProgress-bg-danger {
  background-color: #ffcdd2 !important;
}
.progress4.cssProgress-bg-success {
  background-color: #c8e6c9 !important;
}
.progress4.cssProgress-bg-warning {
  background-color: #ffecb3 !important;
}
.progress4 .cssProgress-bar {
  display: block;
  float: none;
  width: 0%;
  height: 1px;
  background: #3798d9;
}
.progress4 .cssProgress-bar.cssProgress-lg {
  height: 2px;
}
.progress4 .cssProgress-bar.cssProgress-2x {
  height: 2px;
}
.progress4 .cssProgress-bar.cssProgress-3x {
  height: 2px;
}
.progress4 .cssProgress-bar.cssProgress-4x {
  height: 2px;
}
.progress4 .cssProgress-bar.cssProgress-5x {
  height: 2px;
}
.progress4 .cssProgress-bar.cssProgress-glow {
  box-shadow: 5px 0px 15px 0px #3798D9;
}
.progress4 .cssProgress-bar.cssProgress-glow.cssProgress-info {
  box-shadow: 5px 0px 15px 0px #9575cd;
}
.progress4 .cssProgress-bar.cssProgress-glow.cssProgress-danger {
  box-shadow: 5px 0px 15px 0px #ef5350;
}
.progress4 .cssProgress-bar.cssProgress-glow.cssProgress-success {
  box-shadow: 5px 0px 15px 0px #66bb6a;
}
.progress4 .cssProgress-bar.cssProgress-glow.cssProgress-warning {
  box-shadow: 5px 0px 15px 0px #ffb74d;
}




.progress4 .cssProgress-bar.cssProgress-glow-active {
  -webkit-animation: cssProgressGlowActive1 3s linear infinite;
  animation: cssProgressGlowActive1 3s linear infinite;
}
.progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-info {
  -webkit-animation: cssProgressGlowActive2 3s linear infinite;
  animation: cssProgressGlowActive2 3s linear infinite;
}
.progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-danger {
  -webkit-animation: cssProgressGlowActive3 3s linear infinite;
  animation: cssProgressGlowActive3 3s linear infinite;
}
.progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-success {
  -webkit-animation: cssProgressGlowActive4 3s linear infinite;
  animation: cssProgressGlowActive4 3s linear infinite;
}
.progress4 .cssProgress-bar.cssProgress-glow-active.cssProgress-warning {
  -webkit-animation: cssProgressGlowActive5 3s linear infinite;
  animation: cssProgressGlowActive5 3s linear infinite;
}
@-webkit-keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9;
  }
}
@keyframes cssProgressGlowActive1 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #3798D9;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #3798D9;
  }
}
@-webkit-keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd;
  }
}
@keyframes cssProgressGlowActive2 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #9575cd;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #9575cd;
  }
}
@-webkit-keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350;
  }
}
@keyframes cssProgressGlowActive3 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ef5350;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #ef5350;
  }
}
@-webkit-keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a;
  }
}
@keyframes cssProgressGlowActive4 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #66bb6a;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #66bb6a;
  }
}
@-webkit-keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d;
  }
}
@keyframes cssProgressGlowActive5 {
  0%, 100% {
    box-shadow: 5px 0px 15px 0px #ffb74d;
  }
  45% {
    box-shadow: 1px 0px 4px 0px #ffb74d;
  }
}


/*============================ Footer =======================================*/


footer{
	bottom: 0;
}
.footer-distributed{
  background-color: #332940;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 10px 10px;
	margin-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;

	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}