.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.demo-card {
  position: relative;
  width: 256px;
  height: 128px;
  margin: 20px auto;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.demo-card:hover {
  transform: scale(1.1);
}

.demo-card .centered-text {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: black;
  padding: 5%;
  border-radius: 8px;
}

.demo-card .centered-text button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.demo-card .centered-text button:hover {
  background-color: #0056b3;
}

.separator {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
}




.url-block {
  justify-self: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #ccc;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.url-block:hover {
  background-color: #bbb;
}
.url-block .icon {
  margin-right: 10px;
}
